body {
    background-color: #0a0a0a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: #00ffcc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

canvas {
    border: 2px solid #333;
    border-radius: 12px;
    box-shadow: 0 0 30px rgba(0, 255, 204, 0.1);
    cursor: crosshair; /* Muda o mouse para uma mira */
}

h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-shadow: 0 0 10px #00ffcc;
}